<div class="container">
  <h1 class="text-center mb-2 mt-2 "> Consulta de {{page.name}} </h1>

 <mat-card>
<app-consulta-cliente *ngIf="clientes" [clientes]="clientes"></app-consulta-cliente>
<app-consulta-estoque *ngIf="estoque" [estoque]="estoque"></app-consulta-estoque>
<app-consulta-veiculo *ngIf="veiculos" [veiculos]="veiculos"></app-consulta-veiculo>
<app-consulta-os *ngIf="os" [os]="os"></app-consulta-os>
<app-consulta-funcionario *ngIf="funcionarios" [funcionarios]="funcionarios"></app-consulta-funcionario>
</mat-card>


</div>
