<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/"><img  src="https://w7.pngwing.com/pngs/17/73/png-transparent-computer-icons-world-of-smile-business-mecanica-blue-web-design-logo.png" height="60"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div style="justify-content: right" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Sair</a>
      </li>
</ul>
  </div>
</nav>
<router-outlet></router-outlet>
