<simple-notifications></simple-notifications>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/"><img  src="../assets/logo_image.png" height="80"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div style="justify-content: right" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a *ngIf="showBtn()" class="nav-link" routerLink="/">Sair</a>
      </li>
</ul>
  </div>
</nav>
<router-outlet></router-outlet>
