<div class="container">
  <h1 class="text-center mb-2 mt-2 "> Cadastro de {{page.name}}</h1>
  <mat-card>
    <app-cadastro-cliente *ngIf="id == 1" (dados)="enviar($event)"></app-cadastro-cliente>
    <app-cadastro-estoque *ngIf="id == 2" (dados)="enviar($event)"></app-cadastro-estoque>
    <app-cadastro-veiculo *ngIf="id == 3" (dados)="enviar($event)"></app-cadastro-veiculo>
    <app-cadastro-os *ngIf="id == 4" (dados)="enviar($event)"></app-cadastro-os>
    <app-cadastro-funcionario *ngIf="id == 5" (dados)="enviar($event)"></app-cadastro-funcionario>
  </mat-card>
</div>
